#Ignore project build files
Debug/
Release/
LPG Game Configurator/obj/Debug/
LPG Launcher/obj/Debug/
LPG Game Configurator/obj/Release/
LPG Launcher/obj/Release/
LPG Launcher/obj/Release/
LPG Launcher/.vs/LPG Launcher/v16/.suo